#include <ControllerConfig.h>

extern ValveDriver       *valvedriver[];
extern InterfaceDriver   *interfacedriver[];
extern Thermostat        *thermostate[];
extern HeatingController *heatcontrollers[];
extern Shifty shifty;

void configControllers() {
    for(uint8_t i=0;i<N_INTERFACE;i++) {
        interfacedriver[i] = new OpenDrainInterfaceDriver(INTERFACE[i]);
    }

    for(uint8_t i=0;i<N_INTERFACE;i++) {
        thermostate[i]     = new OnOffTheromostat(interfacedriver[i],100,-100);
    }

    for(uint8_t i=0;i<N_OUTPUTPORT;i++) {
        valvedriver[i]     = new ShiftyValveDriver(shifty,OUTPUTPORT[i]);
    }
 
    heatcontrollers[n_heatcontroller++] = new BangBangController(new PWMValveDriverDecorator(valvedriver[0],900000,64),thermostate[1],20);
    heatcontrollers[n_heatcontroller++] = new BangBangController(new PWMValveDriverDecorator(valvedriver[8],900000,64),thermostate[0],20);

    return;
}