#include <ControllerConfig.h>

extern ValveDriver       *valvedriver[];
extern InterfaceDriver   *interfacedriver[];
extern Thermostat        *thermostate[];
extern HeatingController *heatcontrollers[];
extern Shifty shifty;

void configControllers() {
    for(uint8_t i=0;i<N_OUTPUTPORT;i++) {
        interfacedriver[i] = new OpenDrainInterfaceDriver(INTERFACE[i]);
    }

    for(uint8_t i=0;i<N_OUTPUTPORT;i++) {
        thermostate[i]     = new OnOffTheromostat(interfacedriver[i],100,-100);
    }

    for(uint8_t i=0;i<N_OUTPUTPORT;i++) {
        valvedriver[i]     = new ShiftyValveDriver(shifty,OUTPUTPORT[i]);
    }
 
    for(uint8_t i=0;i<N_OUTPUTPORT;i++) {
        heatcontrollers[i] = new BangBangController(valvedriver[i],thermostate[i],20);
    }

    return;
}